@media (max-width: 1350px)
  .sidepanel
    display: none
@media (max-width: 1200px)
  .container
    max-width: 960px
  .about
    &__wrapper
      grid-template-columns: 400px 520px
      column-gap: 40px
    &__skills
      column-gap: 20px
      grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px)
      &-item
        grid-template-columns: 40px 195px
        column-gap: 15px
  .resume
    &__wrapper
      padding: 40px 0 0
      grid-template-columns: repeat(2,460px)
      column-gap: 40px
  .work
    &__wrapper
      grid-template-columns: repeat(auto-fit, 270px)
      justify-items: center
    &__progress
      grid-template-columns: repeat(2, 0.75fr)
      justify-items: center
  .portfolio
    &__wrapper
      grid-template-columns: repeat(auto-fit, 270px)
      grid-auto-rows: 270px
      justify-content: space-around
      row-gap: 40px
      .horizontal, .vertical
        grid-row: unset
        grid-column: unset
  .contacts
    &__wrapper
      grid-template-columns: 350px 400px
      padding: 0
      justify-content: space-around
    &__form
      grid-template-columns: repeat(2, 190px)
    &__btn
      padding: 0 25px


@media (max-width: 992px)
  .container
    max-width: 720px
  .about
    &:before
     left: 0
    &__wrapper
      grid-template-columns: 300px 380px
    &__skills
      grid-template-columns: 380px
      grid-auto-rows: minmax(115px,auto)

      &-item
        grid-template-columns: 40px 320px
        column-gap: 20px
  .resume
    &__wrapper
      grid-template-columns: 1fr
      padding: 40px 40px 0
  .work
    padding-top: 60px
    &__progress
      margin-top: 60px
      &-item
        width: 100%
  .price
    padding-top: 60px
    &__wrapper
      grid-template-columns: repeat(auto-fit, 366px)
      row-gap: 35px
  .contacts
    padding-top: 60px
    &__wrapper
      grid-template-columns: 585px
      justify-content: space-around
    &__photo
      display: none
    &__form
      grid-template: 45px 190px 45px / repeat(2, 280px)
      justify-content: space-between

@media (max-width: 768px)
  .container
    max-width: 540px
  .title
    &_fsz48
      font-size: 28px
  .promo
    &__title
      width: 300px
      line-height: 39px
  .about
    padding-top: 40px
    &__wrapper
      grid-template: 400px auto auto / 1fr
    &__photo
      grid-row: unset
    &__skills
      grid-template-columns: repeat(2, 260px)
      &-item
        grid-template-columns: 40px 200px
        column-gap: 20px
  .work
    &__progress
      grid-template-columns: 1fr
      justify-items: center
      &-item
        width: 75%
  .portfolio
    padding-top: 40px

  .contacts
    &__wrapper
      grid-template-columns: 520px
      justify-content: space-around
    &__form
      grid-template-columns: repeat(2, 240px)

@media (max-width: 576px)
  .container
    max-width: 100%
    padding: 0 10px
  .title
    &_fsz48
      font-size: 26px
    &_fsz36
      font-size: 24px
    &_fsz20
      font-size: 20px
      line-height: 30px
  .hamburger
    right: 20px
  .promo
    &__btns
      margin-top: 30px
  .menu
    &__block
      width: 250px
      padding-left: 20px
  .about
    &__wrapper
      grid-template: 340 auto auto / 1fr
    &__skills
      grid-template-columns: 1fr
  .resume
    padding-top: 40px
    &__wrapper
      grid-template-columns: 1fr
      padding: 40px 0 0

    &__column
      ul
        li
          &:after
            top: -16px
            height: calc(100% + 16px)
        &:nth-child(2)
          .resume__item
            &:before
              top: 32px
            &-head
              padding-top: 10px
            &-icon
              top: 15px
  .work
    &__progress
      &-item
        width: 300px
  .price
    &__wrapper
      grid-template-columns: repeat(auto-fit, 280px)

  .contacts
    &__wrapper
      grid-template-columns: 260px
      justify-content: center
    &__form
      grid-template: 45px 45px 190px 100px / 260px
      justify-content: center
    &__input
      grid-column: 1/2
    &__textarea
      grid-column: 1/2
    &__triggers
      grid-template-columns: 260px
    &__btn
      margin-top: 20px
      order: 1
    &__policy
      order: 0


//&__form
    //  display: block
    //  > input
    //    width: 100%
    //    height: 45px
    //    margin-top: 20px
    //  textarea
    //    width: 100%
    //    height: 190px
    //    margin-top: 20px
    //  label
    //    margin-top: 20px
    //&__triggers
    //  display: block